.highlight-player-card {
  background-color: rgb(30, 144, 255, 0.3); /* 50% opacity color overlay */
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid rgba(91, 52, 245, 0.7); /* Blue border */
  /* width: 80%; */
  flex-direction: row; /* Don't grow, don't shrink, and don't let the basis be affected by the content's width */
  backdrop-filter: blur(10px); /* Blur effect for the background */
  width: auto;
}

.stat-category {
  font-size: 1em;
  font-weight: bold;
}

.player-info {
  display: flex;
  align-items: center;
}

.player-name {
  font-size: 1em;
  margin-right: 10px;
}

.player-stat {
  font-size: 1.5em;
}

.player-image {
  width: 120px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 50%; /* Circular image */
}

.player-name {
  flex-direction: row;
}

.player-skill {
  font-size: 1.2em;
  font-weight: bold;
}

.highlight-player-card {
  transition: all 0.2s;
}

.highlight-player-card:hover {
  transform: translate(-0.5rem, -1rem) rotate(3deg);
}

.highlight-player-card:hover {
  background: linear-gradient(-90deg, #aa39ef, #e73c7e, #23a6d5, #6a46f9);
  animation: colorFlow 2s ease infinite;
  background-size: 600% 600%;
}

@keyframes colorFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
